/* barlow-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/barlow-v12-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/barlow-v12-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/barlow-v12-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/barlow-v12-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/barlow-v12-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/barlow-v12-latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/barlow-v12-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/barlow-v12-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fraunces-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/fraunces-v30-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/fraunces-v30-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fraunces-900 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/fraunces-v30-latin-900.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/fraunces-v30-latin-900.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


*{
    box-sizing: border-box;
}
/* GENERAL */
*,
*::before,
*::after{
    box-sizing: inherit;
}
html{
    height: 100%;
    box-sizing: border-box;
}
img{
    display: block;
    height: auto;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Barlow", "Arial", sans-serif;
    background-color: #FEFCF7;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* CONTAINER */
.container{
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

/* STICKY-FOOTER */
.site-main{
    flex-grow: 1;
}

/** HEADER STYLE START */

.header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 44px;
    margin-bottom: 45px;
}

.site-header-list {
    display: flex;
    align-items: center;
    padding-left: 0;
    list-style: none;
}

.site-header-item:not(:last-child) {
    margin-right: 32px;
}

.site-header-link {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-decoration: none;
    color: #83888F;
}

.site-header-link:active {
    color: #333D4B;
}
/** HEADER STYLE END */

/** MAIN STYLE START*/

/*! HERO SECTION STYLE START */

.hero-section {
    margin-bottom: 136px;
}
.hero-section-box {
    background-image: url(../img/home/hero-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    padding-bottom: 116px;
}

.hero-section-title {
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
    width: 600px;
    margin-bottom: 32px;
    padding-top: 117px;
    padding-left: 85px;
}

.hero-section-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    opacity: 0.8;
    width: 445px;
    margin-bottom: 56px;
    margin-left: 85px;
}

.hero-btn {
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    width: 217px;
    height: 56px;
    background: #0E8784;
    border-radius: 6px;
    border: none;
    margin-left: 86px;
    cursor: pointer;
}

.hero-btn:active {
    color: #FEFCF7;
    background: #66D2CF;
}

/*! HERO SECTION STYLE END */

/*! OUR COLLECTION SECTION STYLE START */
.our-collection-section {
    margin-bottom: 200px;
    position: relative;
}

.our-collection-img {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}

.our-collection-list {
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding-left: 0;
}

.our-collection-item:not(:last-child) {
    margin-right: 30px;
}

.our-collection-title-list {
    display: flex;
    align-items: center;
    margin-top: 194px;
    list-style: none;
    
}

.our-collection-title-item {
    margin-left: 30px;
}
.our-collection-title {
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;
    margin-top: 0;
    margin-bottom: 24px;
    width: 255px;
}

.our-collection-paragraph {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333D4B;
    width: 255px;
}

/*! OUR COLLECTION SECTION STYLE END */

/*! WHY CHOOSE US SECTION STYLE START */
.whychoose-us-section {
    position: relative;
}

.whychoose-us-box {
    background-color: #2C343E;
    border-radius: 10px;
}

.whychoose-us-title {
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FEFCF7;
    padding-top: 100px;
    margin-bottom: 32px;
}

.whychoose-us-paragraph {
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 16px;
    width: 540px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-bottom: 317px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
    opacity: 0.8;
}

.whychoose-us-list {
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: space-between; 
    list-style: none;
    width: 1110px;
    /* top: 346px; */
    padding: 0 ;
    margin: 0 30px;
}



.whychooos-us-item {
    width: 350px;
    height: 382px;
    background: #0E8784;
    border-radius: 8px;
    margin-right: 30px;
    
    
}

.margin {
    margin: 0;
}

.whychoose-us-item-title {
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FEFCF7;
    margin-top: 0;
    margin-bottom: 24px;
    padding-top: 200px;
    position: relative;
}

.whychoose-us-beforeimg1::before {
    content: url(../img/home/best-quality.png);
    width: 100%;
    display: block;
    position:absolute;
    top: 72px;
    right: 0;
    left: 0;
    
}

.whychoose-us-beforeimg2::before {
    content: url(../img/home/exclusive-benefits.png);
    width: 100%;
    display: block;
    position:absolute;
    top: 72px;
    right: 0;
    left: 0;
}

.whychoose-us-beforeimg3::before {
    content: url(../img/home/free-shipping.png);
    width: 100%;
    display: block;
    position:absolute;
    top: 83px;
    right: 0;
    left: 0;
}

.whychoose-us-item-paragraph {
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
    width: 255px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}

/*! WHY CHOOSE US SECTION STYLE END */

/*! HOW IT WORKS SECTION STYLE START */
.how-itworks-section {
    padding-top: 351px;
    padding-bottom: 200px;
}

.how-itworks-title {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
    margin-top: 0;
    margin-bottom: 80px;
    margin-left: 85px;
}

.how-itworks-img {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 85px;
}

.oval2 {
    position: absolute;
    left: 349px;
}

.how-itworks-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 85px;
}

.how-itworks-item:not(:last-child) {
    margin-right: 95px;
}

.how-itworks-item-num {
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
    display: block;
    margin-top: 67px;
    margin-bottom: 38px;
}

.how-itworks-item-title {
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
    margin-top: 0;
    margin-bottom: 42px;
    padding: 0;
    width: 255px;
}

.how-itworks-item-paragraph {
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    margin-bottom: 64px;
}
/*! HOW IT WORKS SECTION STYLE END */

/** MAIN STYLE END */

/* FOOTER STYLE START */
.site-footer {
    padding-top: 47px;
    padding-bottom: 48px;
    background-color: #2C343E;
}

.footer-box {
    display: flex;
    align-items: center;
    
}

.footer-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin-left: 103px;
}

.footer-item:not(:last-child) {
    margin-right: 33px;
}

.footer-link {
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    color: #83888F;
    text-decoration: none;
}

.footer-link:active {
    color: #FEFCF7;
}

.footer-social-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 369px;
    padding-left: none;
}

.footer-social-item:not(:last-child) {
    margin-right: 24px;
}

.footer-social-link {
    color: #FEFCF7;
}

.footer-social-link:active {
    color: #FDD6BA;
}
/* FOOTER STYLE END */

/* ************************************************************************ */

/* ABOUT STYLE START */

/* ABOUT US STYLE START */
.about-section {
    margin-bottom: 168px;
}
.about-section__box {
    padding: 137px 0 137px 85px;
    border-radius: 10px;
    background-image: url("../img/about/hero-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about-section__title {
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    margin-top: 0;
    margin-bottom: 24px;
}

.about-section__paragraph {
    width: 445px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    margin: 0;
}

/* ABOUT US STYLE END */

/* COMMITMENT STYLE START */
.commitment-section {
    margin-bottom: 245px;
}

.commitment-section__wrapper {
    display: flex;
    align-items: center;
}

.commitment-section__textbox {
    width:540px;
}

.commitment-section__title {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #333D4B;
}

.commitment-section__paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    opacity: 0.8;
}

.commitment-section__img {
    border-radius: 8px;
    margin-right: 125px;
    
}
/* COMMITMENT STYLE END */

/* QUALITY STYLE START */
.quality-section {
    margin-bottom: 168px;
}

.quality-section__textbox {
    position: relative;
    padding: 88px 0 176px 85px;
    background-image: url(../img/about/qualityBackground.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.quality-section__title {
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
}

.quality-section__paragraph {
    width: 540px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    opacity: 0.8;
}

.quality-section__img {
    position: absolute;
    top: 0;
}


/* QUALITY STYLE END */



/* ABOUT STYLE END */
