/* barlow-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/barlow-v12-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/barlow-v12-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/barlow-v12-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/barlow-v12-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/barlow-v12-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/barlow-v12-latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/barlow-v12-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/barlow-v12-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fraunces-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/fraunces-v30-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/fraunces-v30-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fraunces-900 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/fraunces-v30-latin-900.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/fraunces-v30-latin-900.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* VARIABLES */
:root{
    /* --main-text-color : #fff; */
    /* --main-bg-color : #fff; */
    /* --main-font-size : 16px; */
    /* --main-font-weight : 400; */
    /* --main-line-height : 1.5; */
}
*{
    box-sizing: border-box;
}
/* GENERAL */
*,
*::before,
*::after{
    box-sizing: inherit;
}
html{
    height: 100%;
    box-sizing: border-box;
}
img{
    display: block;
    height: auto;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Barlow", "Arial", sans-serif;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* CONTAINER */
.container{
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

/* STICKY-FOOTER */
.site-main{
    flex-grow: 1;
}

/** HEADER STYLE START */

.header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 44px;
    padding-bottom: 45px;
}

.site-header-list {
    display: flex;
    align-items: center;
    padding-left: 0;
    list-style: none;
}

.site-header-item:not(:last-child) {
    margin-right: 32px;
}

.site-header-link {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-decoration: none;
    color: #83888F;
}

.site-header-link:active {
    color: #333D4B;
}
/** HEADER STYLE END */

/** MAIN STYLE START*/

/*! HERO SECTION STYLE START */

.hero-section {
    margin-bottom: 136px;
}
.hero-section-box {
    background-image: url(../img/home/hero-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    padding-bottom: 116px;
}

.hero-section-title {
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
    width: 600px;
    margin-bottom: 32px;
    padding-top: 117px;
    padding-left: 85px;
}

.hero-section-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    opacity: 0.8;
    width: 445px;
    margin-bottom: 56px;
    margin-left: 85px;
}

.hero-btn {
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    width: 217px;
    height: 56px;
    background: #0E8784;
    border-radius: 6px;
    border: none;
    margin-left: 86px;
}

.hero-btn:active {
    color: #FEFCF7;
    background: #66D2CF;
}

/*! HERO SECTION STYLE END */

/*! OUR COLLECTION SECTION STYLE START */
.our-collection {
    margin-bottom: 188px;
    position: relative;
}

.our-collection-img {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}

.our-collection-list {
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding-left: 0;
}

.our-collection-item:not(:last-child) {
    margin-right: 30px;
}

.our-collection-title-list {
    display: flex;
    align-items: center;
    margin-top: 194px;
    list-style: none;
    
}

.our-collection-title-item:not(:first-child) {
    margin-left: 30px;
}
.our-collection-title {
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;
    margin-top: 0;
    margin-bottom: 24px;
    width: 255px;
}

.our-collection-paragraph {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333D4B;
    width: 255px;
}

/*! OUR COLLECTION SECTION STYLE END */

/** MAIN STYLE END */